.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-image:  linear-gradient(rgba(0,0,0, 0.8) 0%, rgba(0,0,0, .5) 50%,  rgba(0,0,0, 0.8) 100%), url("assets/png/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__heading {
  font-family: ExoShin, sans-serif;
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card__block:nth-child(1n){
  margin: 0 0 20px 0;
}

.card__block--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 480px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.card__block--content {
  width: 312px;
  height: 472px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  background-image: url('assets/jpg/cat.jpg');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: -25px 200px;
  border: 4px solid #1698d9;
}

.card__block--content:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -4px;
  left: -4px;
  border-bottom: 48px solid transparent;
  border-left: 48px solid black;
  background: #1698d9;
  z-index: 2;
}

.card__block--content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 44px solid transparent;
  border-right: 44px solid white;
  z-index: 2;
}

/*###  Disabled  ###*/
.card__block.disabled .card__block--container {
  cursor: unset;
}

.card__block.disabled .card__block--content {
  border: 4px solid #b3b3b3;
}

.card__block.disabled .card__block--container:after {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(242, 242, 242, .5);
  z-index: 1;
  border-radius: 10px;
}

.card__block.disabled  .card__block--content:before {
  background: #b3b3b3;
}

.card__block.disabled .card__block--content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 44px solid transparent;
  border-right: 44px solid rgba(255,255,255, .9);
  z-index: 2;
}

.card__block.disabled .card__block--weight {
  background: #9b9b9b;
}

/*###  Selected  ###*/

.card__block.selected .card__block--content {
  border: 4px solid #d91667;
}

.card__block.selected  .card__block--content:before {
  background: #d91667;
}

.card__block.selected .card__block--weight {
  background: #d91667;
}

/*###  DefaultHover  ###*/

.card__block.defaulthover .card__block--content {
  border: 4px solid #2ea8e6;
}

.card__block.defaulthover  .card__block--content:before {
  background: #2ea8e6;
}

.card__block.defaulthover .card__block--weight {
  background: #2ea8e6;
}

.card__block.defaulthover .card--block--link {
  color: #2ea8e6
}

/*###  SelectedHover  ###*/
.card__block.selectedhover .card__block--text {
  color: #e52e7a;
}

.card__block.selectedhover .card__block--content {
  border: 4px solid #e52e7a;
}

.card__block.selectedhover  .card__block--content:before {
  background: #e52e7a;
}

.card__block.selectedhover .card__block--weight {
  background: #e52e7a;
}

.card__block--description {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  text-align: left;
}

.card__block--text {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

.card__block--name {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin: 5px 0 0 0;
}

.card__block--filling {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0 15px 0;
}

.card__block--list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card__block--item {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #666666;
}

.card__block--weight {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #1698d9;
  right: 12px;
  bottom: 12px;
  border-radius: 100%;
}

.card__block--weighttext {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 21px;
  color: white;
  word-wrap: break-spaces;
  margin: 0;
  line-height: 10px;
}

.card__block--weightcount {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 42px;
  color: white;
  line-height: 40px;
}

.card__block--action {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  margin-top: 15px;
  color: white;
}

.card__block.disabled .card__block--action {
  color: #ffff66;
}

.card--block--link {
  color: #1698d9;

}

.card--block--link.dashed {
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

@media (min-width: 630px) {
  .card__block:nth-child(1n){
    margin: 0 10px 20px 0;
  }
}

@media (min-width: 768px) {
  .card__block:nth-child(1n){
    margin: 0 20px 0 0;
  }

  .card__block:nth-child(2n){
    margin: 0 0 0 20px;
  }

  .card__block:nth-child(3n){
    margin: 20px 0 0 0;
  }
}

@media (min-width: 992px) {
  .card__block:nth-child(1n){
    margin: 0 20px 0 0;
  }

  .card__block:nth-child(2n){
    margin: 0 20px;
  }

  .card__block:nth-child(3n){
    margin: 20px 0 0 0;
  }
}

@media (min-width: 1020px) {
  .card__block:nth-child(3n){
    margin: 0 0 0 20px;
  }
}
